@page "/"
@layout MainLayout

<div class="page">
    <div class="sidebar">
        <div class="top-row-sidebar px-4">
            <h1 class="name">@Model.Name</h1>
            <h4 class="function-title">@Model.FunctionTitle</h4>
        </div>

        <div class="photo mb-3">
            <img src="images/photo.jpg" width="150" />
        </div>

        <div class="table table-borderless table-sm">
            <table>
                @foreach (var item in Model.Contacts)
                {
                    <tr>
                        <td><i class="fa fa-lg fa-@item.IconClass text-success"></i></td>
                        <td>@item.Value</td>
                    </tr>
                }
                @foreach (var item in Model.SocialMedias)
                {
                    <tr>
                        <td><i class="fa fa-lg fa-@item.IconClass text-success"></i></td>
                        <td>/@item.Value</td>
                    </tr>
                }
            </table>
        </div>

        <section>
            <h4 class="legend"><i class="fa fa-cogs"></i> Skills</h4>
            <dl>
                @foreach (var skill in Model.Skills)
                {
                    <dt class="text-success">@skill.Name</dt>
                    <dd>
                        @foreach (var item in skill.Items)
                        {
                            <span class="badge badge-success badge-skill badge-skill-@item.Strength">@item.Name</span>
                        }
                    </dd>

                    if (skill.SkillSubGroups != null)
                        foreach (var subItem in skill.SkillSubGroups)
                        {
                            <dd>
                                <strong class="text-success">@subItem.Name:</strong>
                                @foreach (var item in subItem.Items)
                                {
                                    <span class="badge badge-success badge-skill badge-skill-@item.Strength">@item.Name</span>
                                }
                            </dd>
                        }
                }
            </dl>
        </section>

        <section class="mt-4">
            <h4 class="legend"><i class="fa fa-language"></i> Communication Languages</h4>
            <ul style="padding-left: 0.4em; list-style-type: none; " class="text-success">
                @foreach (var language in Model.CommunicationLanguages)
                {
                    <li>@language.Name<small>&mdash;@language.CommunicationLanguageLevel.ToString()</small></li>
                }
            </ul>
        </section>

    </div>

    <div class="main">
        <div class="top-row px-4">
            <h1 class="name">@Model.Name</h1>
            <h4 class="function-title">@Model.FunctionTitle</h4>
        </div>

        <div class="content px-4">

            <section>
                <h4 class="legend"><i class="fa fa-comment-o"></i> Profile</h4>
                <div class="pl-4 pb-2">@Model.Profile</div>
                <ul>
                    @foreach (var item in Model.Features)
                    {
                        <li>@item</li>
                    }
                </ul>
            </section>

            <section class="mt-2">
                <h4 class="legend"><i class="fa fa-briefcase"></i> Experience <span class="badge badge-success">@Model.ExperienceYears+ Years</span></h4>
                <ul class="timeline pl-3">
                    @foreach (var item in Model.Experiences)
                    {
                        <li>
                            <h5>@item.Title <small class="period"><i class="fa fa-calendar"></i> @item.StartYear - @item.EndYear</small></h5>
                            <div class="clear-both">@item.CompanyName, @item.City</div>
                            <div>@((MarkupString)item.Description)</div>
                        </li>
                    }
                </ul>
            </section>

            <section class="mt-2">
                <h4 class="legend"><i class="fa fa-graduation-cap"></i> Education</h4>
                <ul class="timeline pl-3">
                    @foreach (var item in Model.Educations)
                    {
                        <li>
                            <h5>@item.Title <small class="period"><i class="fa fa-calendar"></i> @item.StartYear - @item.EndYear</small></h5>
                            <div class="clear-both">@item.InstituteName, @item.City</div>
                            <div>@item.Result</div>
                        </li>
                    }
                </ul>
            </section>

            <section class="mt-2">
                <h4 class="legend"><i class="fa fa-list"></i> Projects</h4>
                <div class="list-group list-group-flush">
                    @{ int projectNumber = 1;}

                    @foreach (var item in Model.Projects)
                    {
                        <div class="list-group-item pl-0" style="break-inside: avoid;">
                            <h5>@(projectNumber++). @item.Title <small class="period"><i class="fa fa-calendar"></i> @item.Period</small></h5>
                            <div class="row clear-both">
                                <div class="col-md-6">
                                    <div class="text-justify">@item.Description</div>
                                    @*<div><strong>Client: </strong>@item.ClientName, @item.ClientCity</div>*@
                                    @if (!string.IsNullOrEmpty(item.ProjectUrl))
                                    {
                                        <div><strong>URL: </strong>@item.ProjectUrl</div>
                                    }
                                </div>
                                <div class="col-md-6">
                                    <div><strong>Role: </strong>@item.Role</div>
                                    <div><strong>Languages: </strong>@item.ProgrammingLanguages</div>
                                    <div><strong>Frameworks: </strong>@item.UsedTechnologies</div>
                                    <div><strong>Databases: </strong>@item.Databases</div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </section>

            <section class="mt-2">
                <h4 class="legend"><i class="fa fa-link"></i> References</h4>
                <div class="row pl-4">
                    @foreach (var item in Model.References)
                    {
                        <div class="col-md-5">
                            <h5>@item.Name</h5>
                            <div>@item.Position</div>
                            <div>@item.Organization</div>
                            <div>@item.Email</div>
                            <div>@item.Contact</div>
                        </div>
                    }
                </div>
            </section>
        </div>
    </div>
</div>

@code{
    Models.CVModel Model = new Models.CVModel();
}