@page "/"
@layout MainLayout

<div class="page first-page">
    <div class="main">
        <div class="top-row px-3 pb-3">
            <div class="qr-code pull-right">
                <img src="images/web-link-qr-code-150px.gif" alt="QR Code" height="90" />
            </div>
            <h1 class="name">@Model.Name</h1>
            <h4 class="function-title text-secondary">
                @Model.FunctionTitle
            </h4>
        </div>

        <div class="content px-4">

            <section class="mt-3">
                <h4 class="legend"><i class="fa fa-comment-o"></i> Profile</h4>
                @*<div class="pl-4 pb-2 text-justify">@Model.Profile</div>*@
                <div class="text-justify pl-4">
                    @foreach (var item in Model.Features)
                    {
                        <div class="mb-1">&bull; @((MarkupString)item)</div>
                    }
                </div>
            </section>

            <section class="mt-2">
                <h4 class="legend"><i class="fa fa-briefcase"></i> Experience <span class="badge badge-primary badge-experience-year">@CVData.ExperienceYears+ Years</span></h4>
                <div class="timeline ml-2 pl-2">
                    @foreach (var item in Model.Experiences)
                    {
                        <div class="timeline-item">
                            <div class="timeline-dot"></div>
                            <h5>@item.Title </h5>
                            <div class="mb-2">@item.CompanyName, @item.City <span class="period"><i class="fa fa-calendar"></i> @item.StartYear - @item.EndYear</span></div>
                            <div class="ml-3">@((MarkupString)item.Description)</div>
                        </div>
                    }
                </div>
            </section>

            <section class="mt-2">
                <h4 class="legend"><i class="fa fa-graduation-cap"></i> Education</h4>
                <div class="timeline ml-2 pl-2">
                    @foreach (var item in Model.Educations.Take(2))
                    {
                        <div class="timeline-item">
                            <div class="timeline-dot"></div>
                            <h5>@item.Title</h5>
                            <div>@item.InstituteName, @item.City <span class="period"><i class="fa fa-calendar"></i> @item.StartYear - @item.EndYear</span></div>
                            @*<div>@item.Result</div>*@
                        </div>
                    }
                </div>
            </section>
        </div>
    </div>

    <div class="sidebar pb-0">
        <div class="photo mb-2">
            <img src="images/photo-150x170.jpg" alt="Photo" />
        </div>

        <section class="mt-4">
            <h4 class="legend"><i class="fa fa-address-book-o"></i> Contacts</h4>

            <table class="table table-borderless table-sm">
                @foreach (var item in Model.Contacts)
                {
                    <tr>
                        <td><i class="fa fa-lg fa-@item.IconClass text-primary"></i></td>
                        <td>
                            @if (item.Type == Models.ContactType.Website)
                            {
                                <a href="https://@item.Value" style="text-decoration: none; color: #212529;" target="_blank">
                                    @item.Value
                                </a>
                            }
                            else
                            {
                                @item.Value
                            }
                        </td>
                    </tr>
                }
                @*@foreach (var item in Model.SocialMedias)
            {
                <tr>
                    <td><i class="fa fa-lg fa-@item.IconClass text-primary"></i></td>
                    <td>/@item.Value</td>
                </tr>
            }*@
            </table>
        </section>

        <section class="mt-4">
            <h4 class="legend"><i class="fa fa-cogs"></i> Skills</h4>
            <dl>
                @foreach (var skill in Model.Skills)
                {
                    <dt class="skill-group-name"><i class="fa fa-@skill.IconClass"></i> @skill.Name</dt>
                    <dd>
                        @foreach (var item in skill.Items)
                        {
                            <span class="badge badge-primary badge-skill badge-skill-@item.Strength">@item.Name</span>
                            <span class="text-white" style="font-size:1px">|&nbsp;</span> @*to put a separator if pasted text only*@
                        }
                    </dd>

                    if (skill.SkillSubGroups != null)
                        foreach (var subItem in skill.SkillSubGroups)
                        {
                            <dd>
                                <strong class="skill-subgroup-name"><i class="fa fa-@subItem.IconClass"></i> @subItem.Name:&nbsp;</strong>
                                @foreach (var item in subItem.Items)
                                {
                                    <span class="badge badge-primary badge-skill badge-skill-@item.Strength">@item.Name</span>
                                    <span class="text-white" style="font-size:1px">|&nbsp;</span> @*to put a separator if pasted text only*@
                                }
                            </dd>
                        }
                }

                <dt class="skill-group-name mt-4"><i class="fa fa-language"></i> Communication Languages</dt>
                <dd>
                    <ul class="text-primary">
                        @foreach (var language in Model.CommunicationLanguages)
                        {
                            <li>@language.Name <small>&mdash; @language.CommunicationLanguageLevel.ToString()</small></li>
                        }
                    </ul>
                </dd>
            </dl>
        </section>

        <section class="mt-4">
            <h4 class="legend"><i class="fa fa-trophy"></i> Awards</h4>
            <ul style="padding-left: 0.4em; list-style-type: none; " class="text-primary">
                @foreach (var award in Model.Awards)
                {
                    <li>
                        @award.Name <br />
                        <small>&mdash;@award.GivenBy <i class="fa fa-calendar"></i> @award.Year</small>
                    </li>
                }
            </ul>
        </section>

    </div>

</div>

<div class="page m-5">
    <section class="mt-2">
        <h4 class="legend"><i class="fa fa-list"></i> Projects</h4>
        <div class="list-group list-group-flush d-block">
            @{ int projectNumber = 1;}

            @foreach (var item in Model.Projects)
            {
                <div class="list-group-item px-0" style="page-break-inside: avoid;">
                    <h5>@(projectNumber++). @item.Title <small class="period"><i class="fa fa-calendar"></i> @item.Period</small></h5>
                    <div class="row clear-both">
                        <div class="col-md-6">
                            <p class="text-justify">@item.Description</p>
                            @*<div><strong>Client: </strong>@item.ClientName, @item.ClientCity</div>*@
                            @if (!string.IsNullOrEmpty(item.ProjectUrl))
                            {
                                <p><strong>URL: </strong>@item.ProjectUrl</p>
                            }
                            @if (!string.IsNullOrEmpty(item.Challenges))
                            {
                                <p><strong>Challenges:</strong>@((MarkupString)item.Challenges)</p>
                            }
                        </div>
                        <div class="col-md-6">
                            <div><strong>Role: </strong>@item.Role</div>
                            <div><strong>Languages: </strong>@item.ProgrammingLanguages</div>
                            <div><strong>Tech-Stack: </strong>@item.UsedTechnologies</div>
                            <div><strong>Databases: </strong>@item.Databases</div>
                            @if (!string.IsNullOrEmpty(item.Responsibilities))
                            {
                                <p><strong>Responsibilities:</strong>@((MarkupString)item.Responsibilities)</p>
                            }
                        </div>
                        @if (!string.IsNullOrEmpty(item.MoreDescription))
                        {
                            <div class="col-md-12">@((MarkupString)item.MoreDescription)</div>
                        }

                    </div>
                </div>
            }
        </div>
    </section>
</div>

<div class="page m-5">
    <section class="mt-4">
        <h4 class="legend"><i class="fa fa-magic"></i> Hobby and Educational Projects</h4>
        <p>
            Since my school life, I have developed some applications with my own interest.
            Here are some notable mentions.
        </p>

        <div class="list-group list-group-flush">
            @{ projectNumber = 1;}

            @foreach (var item in Model.HobbyProjects)
            {
                <div class="list-group-item px-0">
                    <h5>@(projectNumber++). @item.Title <small class="period"><i class="fa fa-calendar"></i> @item.Period</small></h5>
                    <div class="row clear-both">
                        <div class="col-md-12 pr-3">
                            <div class="text-justify">@item.Description</div>
                            @if (!string.IsNullOrEmpty(item.ProjectUrl))
                            {
                                <div><strong>URL: </strong>@item.ProjectUrl</div>
                            }
                        </div>
                        <div class="col-md-12 pl-3">
                            <div><strong>Technologies: </strong>@item.UsedTechnologies</div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>
</div>

<div class="page m-5">
    <section class="mt-4">
        <h4 class="legend">
            <img src="images/opensource.svg" style="margin-top: -5px;" /> Open-source contributions
        </h4>
        <div class="list-group list-group-flush">
            @{ projectNumber = 1;}

            @foreach (var item in Model.OpenSourceContributions)
            {
                <div class="list-group-item px-0">
                    <h5>@(projectNumber++). @item.Title </h5>
                    <p>
                        @((MarkupString)item.Description)
                    </p>
                    <p>
                        <div><strong>Repository: </strong><a class="text-decoration-none" href="@item.ProjectSource">@item.ProjectSource</a></div>
                        @if (!string.IsNullOrEmpty(item.ProjectUrl))
                        {
                            <div><strong>Website: </strong><a class="text-decoration-none" href="@item.ProjectUrl">@item.ProjectUrl</a></div>
                        }
                        <div>
                            <strong>Contributions:</strong>@((MarkupString)item.Responsibilities)
                        </div>
                    </p>
                </div>
            }
        </div>
    </section>

    @*<section class="mt-2 hide">
        <h4 class="legend"><i class="fa fa-link"></i> References</h4>
        <div class="row pl-4">
            @foreach (var item in Model.References)
            {
                <div class="col-md-5">
                    <h5>@item.Name</h5>
                    <div>@item.Position</div>
                    <div>@item.Organization</div>
                    <div>@item.Email</div>
                    <div>@item.Contact</div>
                </div>
            }
        </div>
    </section>*@
</div>

@code{
    Models.CVModel Model = CVData.Get();
}
