@page "/"
@layout EmptyLayout

<div class="page">
    <div class="sidebar">
        <div class="photo sticky-top mb-3">
            <img src="images/photo.jpg" width="150" />
        </div>

        <div class="table table-borderless table-sm">
            <table>
                @foreach (var item in Model.Contacts)
                {
                    <tr>
                        <td><i class="fa fa-lg fa-@item.IconClass text-success"></i></td>
                        <td>@item.Value</td>
                    </tr>
                }
            </table>
        </div>

        <fieldset>
            <legend>Skills</legend>
            <dl>
                @foreach (var item in Model.Skills)
                {
                    <dt>@item.Name</dt>
                    <dd>@string.Join(", ", item.Items.Select(s => s.Name))</dd>
                }
            </dl>
        </fieldset>

    </div>

    <div class="main">
        <div class="top-row px-4">
            <h1 class="name">@Model.Name</h1>
            <h4 class="function-title">@Model.FunctionTitle</h4>
        </div>

        <div class="content px-4">

            <fieldset>
                <legend>Profile</legend>
                <div class="pb-2">@Model.Profile</div>
                <ul>
                    @foreach (var item in Model.Features)
                    {
                        <li>@item</li>
                    }
                </ul>
            </fieldset>

            <fieldset>
                <legend>Experience (7+ Years)</legend>
                <ul class="timeline">
                    @foreach (var item in Model.Experiences)
                    {
                        <li>
                            <h4>@item.Title <small>| @item.CompanyName, @item.City | @item.StartYear - @item.EndYear</small></h4>
                            <div></div>
                        </li>
                    }
                </ul>
            </fieldset>

            <fieldset>
                <legend>Education</legend>
                <ul class="timeline">
                    @foreach (var item in Model.Educations)
                    {
                        <li>
                            <h4>@item.Title <small>| @item.InstituteName, @item.City | @item.StartYear - @item.EndYear</small></h4>
                            <div></div>
                        </li>
                    }
                </ul>
            </fieldset>

            <fieldset>
                <legend>Projects</legend>
                <ul>
                    @foreach (var item in Model.Projects)
                    {
                        <li>
                            <h4 class="pt-3">@item.Title</h4>
                            <div>@item.Description</div>
                        </li>
                    }
                </ul>
            </fieldset>

            <fieldset>
                <legend>References</legend>
                <div class="row pl-5">
                    @foreach (var item in Model.References)
                    {
                        <div class="col-5">
                            <h4>@item.Name</h4>
                            <div>@item.Position</div>
                            <div>@item.Organization</div>
                            <div>@item.Email</div>
                            <div>@item.Contact</div>
                        </div>
                    }
                </div>
            </fieldset>
        </div>
    </div>
</div>


@code{
    Models.CVModel Model = new Models.CVModel();
}