@page "/"

<fieldset>
    <legend>Experience (7+ Years)</legend>
    <ul>
        @foreach (var item in Model.Experiences)
        {
            <li>
                <h4>@item.Title <small>| @item.CompanyName, @item.City | @item.StartYear - @item.EndYear</small></h4>
                <div></div>
            </li>
        }
    </ul>
</fieldset>

<fieldset>
    <legend>Education</legend>
    <ul>
        @foreach (var item in Model.Educations)
        {
            <li>
                <h4>@item.Title <small>| @item.InstituteName, @item.City | @item.StartYear - @item.EndYear</small></h4>
                <div></div>
            </li>
        }
    </ul>
</fieldset>

<fieldset>
    <legend>Projects</legend>
    <ul>
        @foreach (var item in Model.Projects)
        {
            <li>
                <h4>@item.Title</h4>
                <div>@item.Description</div>
            </li>
        }
    </ul>
</fieldset>

@code{
    Models.CVModel Model = new Models.CVModel();
}