@page "/"
@layout EmptyLayout

<div class="page">
    <div class="sidebar">
        <div class="photo mb-3">
            <img src="images/photo.jpg" width="150" />
        </div>

        <div class="table table-borderless table-sm">
            <table>
                @foreach (var item in Model.Contacts)
                {
                    <tr>
                        <td><i class="fa fa-lg fa-@item.IconClass text-success"></i></td>
                        <td>@item.Value</td>
                    </tr>
                }
            </table>
        </div>

        <fieldset>
            <legend><i class="fa fa-cogs"></i> Skills</legend>
            <dl>
                @foreach (var item in Model.Skills)
                {
                    <dt>@item.Name</dt>
                    <dd>@string.Join(", ", item.Items.Select(s => s.Name))</dd>
                }
            </dl>
        </fieldset>

    </div>

    <div class="main">
        <div class="top-row px-4">
            <h1 class="name">@Model.Name</h1>
            <h4 class="function-title">@Model.FunctionTitle</h4>
        </div>

        <div class="content px-4">

            <fieldset>
                <legend><i class="fa fa-comment-o"></i> Profile</legend>
                <div class="pl-4 pb-2">@Model.Profile</div>
                <ul>
                    @foreach (var item in Model.Features)
                    {
                        <li>@item</li>
                    }
                </ul>
            </fieldset>

            <fieldset>
                <legend><i class="fa fa-briefcase"></i> Experience (@Model.ExperienceYears+ Years)</legend>
                <ul class="timeline pl-3">
                    @foreach (var item in Model.Experiences)
                    {
                        <li>
                            <h5>@item.Title <small class="pull-right"><i class="fa fa-calendar"></i> @item.StartYear - @item.EndYear</small></h5>
                            <div>@item.CompanyName, @item.City</div>
                        </li>
                    }
                </ul>
            </fieldset>

            <fieldset>
                <legend><i class="fa fa-graduation-cap"></i> Education</legend>
                <ul class="timeline pl-3">
                    @foreach (var item in Model.Educations)
                    {
                        <li>
                            <h5>@item.Title <small class="pull-right"><i class="fa fa-calendar"></i> @item.StartYear - @item.EndYear</small></h5>
                            <div>@item.InstituteName, @item.City</div>
                        </li>
                    }
                </ul>
            </fieldset>

            <fieldset>
                <legend><i class="fa fa-list"></i> Projects</legend>
                <ul class="list-group list-group-flush">
                    @foreach (var item in Model.Projects)
                    {
                        <li class="list-group-item">
                            <h5 class="">@item.Title <small class="pull-right"><i class="fa fa-calendar"></i> @item.Period</small></h5>
                            <div class="row">
                                <div class="col-7">
                                    <div class="text-justify">@item.Description</div>
                                    <div><strong>Client: </strong>@item.ClientName, @item.ClientCity</div>
                                </div>
                                <div class="col-5">
                                    <div><strong>Role: </strong>@item.Role</div>
                                    <div><strong>Languages: </strong>@item.ProgrammingLanguages</div>
                                    <div><strong>Frameworks: </strong>@item.UsedTechnologies</div>
                                    <div><strong>Databases: </strong>@item.Databases</div>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </fieldset>

            <fieldset>
                <legend><i class="fa fa-link"></i> References</legend>
                <div class="row pl-4">
                    @foreach (var item in Model.References)
                    {
                        <div class="col-5">
                            <h5>@item.Name</h5>
                            <div>@item.Position</div>
                            <div>@item.Organization</div>
                            <div>@item.Email</div>
                            <div>@item.Contact</div>
                        </div>
                    }
                </div>
            </fieldset>
        </div>
    </div>
</div>


@code{
    Models.CVModel Model = new Models.CVModel();
}